* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.sombra-formulario {
    visibility: hidden; /* A visibilidade vai ficar escondida, até que o JavaScript mande ficar visível. */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    /* auxilia na construção de efeitos degrade */
    transition: 0.5s;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

header > img {
    width: 60px;
}

header > a {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}

header > a:hover {
    color: #C51111;
    transition: 0.5s;
    font-size: 26px;
}

main {
    display: flex;
    align-items: center; /* centralizar os itens (depois de ativar o flex) */
    justify-content: space-around; /* Criar um espaço entre os elementos (sections) */
    padding: 100px;
    height: 100vh; /* ocupa a tela inteira na vertical */
}

.section-sobre {
    width: 50%;
}

.logo-mario {
    height: 200px;
    margin-bottom: 20px;
}

.paragrafo {
    color: #ffffff;
    font-size: 20px;
}

.botao-contato, button { /* Ambos os botões */
    color: #ffffff;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    transition: 0.5s;
}

.botao-contato:hover, button:hover { /* Ambos os botões */
    color: #afafaf;
    background-color: #790c0c;
    transition: 0.5s;
}

.botao-contato:active, button:active { /* Ambos os botões */
    opacity: 0.6;
}

.img-marioluigi {
    height: 500px;
}

.section-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.sombra {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    /* auxilia na construção de efeitos degrade */
    position: fixed;
    top: 0;
}

.link-whatsapp > img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.formulario-contato {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    gap: 15px; /* Distanciamento entre os itens e é utilizado quando tem um 'display flex' */
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 50px;
    padding: 20px;
    transition: 1s;
    
    top: 30%;
    left: -300px;

    /*
        Quando for clicado, o JavaScript vai alterar para:
        left: 50%;
        transform: translateX(-50%);
    */
}

.formulario-contato input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding-left: 5px;
    outline-color: #790c0c;
}

.formulario-contato textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding-left: 5px;
    padding-top: 5px;
    outline-color: #790c0c; /* Altera a cor da borda do input (borda ativada quando é clicada) */
    resize: none; /* Desabilita a opção de puxar a textarea */
}

.formulario-contato button {
    margin-top: 10px;
    position: relative;
    left: 15%;
}


/* 
    Media queries - Responsividade 

    max -> valor menor que
    min -> valor maior que
*/

@media(max-width: 1100px) {
    .paragrafo {
        display: none;
    }

    main {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .section-sobre {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .img-marioluigi {
        width: 80vw;
        height: auto; /* Colocando auto, a imagem não fica distorcida. */
    }

    header {
        margin: 20px 0px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header > img {
        display: none;
    }

    header > a {
        font-size: 20px;
    }

    header > a:hover {
        font-size: 21px;
    }
}