* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

header > img {
    width: 60px;
}

header > a {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}

header > a:hover{
    color: #C51111;
    transition: 0.5s;
}

main {
    display: flex;
    align-items: center; /* centralizar os itens (depois de ativar o flex) */
    justify-content: space-around; /* Criar um espaço entre os elementos (sections) */
    padding: 100px;
    height: 100vh; /* ocupa a tela inteira na vertical */
}

.section-sobre {
    width: 50%;
}

.logo-mario {
    height: 200px;
    margin-bottom: 20px;
}

.paragrafo {
    color: #ffffff;
    font-size: 20px;
}

.botao-contato {
    color: #ffffff;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.img-marioluigi {
    height: 500px;
}

.section-video {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

video {
    width: 100vw;
}

.sombra {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%); /* auxilia na construção de efeitos degrade */
    position: fixed;
    top: 0;
}

.link-whatsapp > img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}